<%- include ("partials/header") %>

<div class="container">
        <header class="jumbotron">
            <h1>Welcome to Veggie Recipes!</h1>
            <p>View our wonderful food from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/recipes/new">Add New Recipe</a>
            </p>
        </header>
    
    <div class="row row-cols-1 row-cols-md-3">
        <% recipes.forEach(function(recipe) { %>
        <div class="col mb-4">
            <div class="card">
                <img src="<%= recipe.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= recipe.name %></h5>
                    <p class="card-text"><%= recipe.body %></p>
                    <a class="card-link" href="/recipes/<%= recipe._id %>">더보기</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><%= recipe.created.toDateString() %></small></small>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>


<!-- <%- include ("partials/footer") %> -->