<%- include ("../partials/header") %>

<div class="container">

    <div class="row">
        <div class="col-md-3">
            <p class="lead">HowToVeggie</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item active">Info 2</li>
                <li class="list-group-item active">Info 2</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img id="show-img" class="card-img-top img-responsive" alt="..." src="<%= recipe.image %>">
                <header class="card-body caption-full">
                    <h4><%= recipe.name %></h4>
                    <p style="display: inline"><em>Submitted By <%= recipe.author.username %></em></p>
                    <% if (currentUser && recipe.author.id.equals(currentUser._id)) { %>
                        <form class="delete-btn float-right" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                            <button class="btn">삭제</button>
                        </form>
                        <a class="float-right btn" href="/recipes/<%= recipe._id %>/edit">수정</a>
                    <% } %>
                </header>
                <p class="card-body"><%= recipe.body %></p>

                <footer class="card-footer">
                    <span class="float-right"><%= recipe.created.toDateString() %></span>
                    
                </footer>
            </div>
            <div class="mb-5"></div>
            <div class="card bg-light">
                <div class="card-body text-right">
                    <a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <div class="card-body">
                    <% recipe.comments.forEach(function (comment) { %>
                        <strong><span><%= comment.author.username %></span></strong>
                        <div style="display:flex; justify-content: space-between; align-items: baseline" >
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <div>
                                    <a class="pl-0 btn btn-xs" href="/recipes/<%= recipe._id %>/comments/<%= comment._id %>/edit">수정</a>
                                    <form class ="delete-btn" action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs" value="삭제">
                                    </form>
                                </div>
                            <% } %>
                            <p class="float-right">10 days ago</p>
                        </div>
                        
                        <p><%= comment.text %></p>
                    <% }) %>
                </div>

            </div>
        </div>
    </div>



</div>
